<div class="container">
  <h2 class="visually-hidden">
    Оформить заказ
  </h2>
  <div class="order__grid">
    <div class="order__text">
      <div class="order__delivery">
        <p class="text-accent">Хватит думать!</p> Доставим заказ за 30 минут!
      </div>
      <p class="order__desc">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа.
        Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно
        и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё,
        чтобы наш клиент был доволен и не остался голодный!
      </p>
    </div>
    <div class="order__form">
      <app-order-form></app-order-form>
    </div>
    <div class="order__img">
      <img src="assets/images/pizza.png" alt="Пицца">
    </div>
  </div>
</div>
