.advantage {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.advantage__icon {
  height: 100%;
  flex-shrink: 0;
}

.advantage__heading {
  color: var(--accent);
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.advantage__text {
  margin: 0;
}
