@import "variables";

.hero__grid {
  padding: 10rem 0 16rem;
  display: grid;
  grid-template-columns: 1.2fr 0.9fr;
}

.hero__slogan {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.222;
  margin-bottom: 4rem;
}

.hero__advantages {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0;
  grid-row-gap: 4rem;
  margin: 0 0 4rem 0;
  padding: 0;
}

.hero__advantages-item {
  width: 30rem;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: map-get($breakpoints, lg)) {
  .hero__grid {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
  }

  .hero__slogan .text-accent {
    display: inline;
  }

  .hero__body {
    margin-bottom: 5rem;
  }
}

@media (max-width: map-get($breakpoints, sm))  {
  .hero__advantages {
    display: flex;
    flex-direction: column;
  }
}
