<div class="container">
    <div class="hero__grid">
        <div class="hero__body">
            <h1 class="hero__slogan">
                Самая вкусная пицца в мире
                <div class="text-accent">только в Pizza Cheff</div>
            </h1>
            <ul class="hero__advantages">
                <li class="hero__advantages-item">
                    <app-advantage
                            title="Лучшее тесто"
                            text="Мы создаем тесто только из отборной итальянской муки наивысшего качества"
                            imgSrc="assets/images/ears.png"
                    ></app-advantage>
                </li>
                <li class="hero__advantages-item">
                  <app-advantage
                          title="Лучшие повара"
                          text="Пиццы готовят самые профессиональные итальянские повара"
                          imgSrc="assets/images/kitchen-cap.png"
                  ></app-advantage>
                </li>
                <li class="hero__advantages-item">
                  <app-advantage
                          title="Гарантия качества"
                          text="Наша пиццерия получила множество наград и признаний по всему миру"
                          imgSrc="assets/images/check.png"
                  ></app-advantage>
                </li>
                <li class="hero__advantages-item">
                  <app-advantage
                          title="Отборные рецепты"
                          text="Мы используем рецепты от мировых лидеров в изготовлении пиццы"
                          imgSrc="assets/images/serving.png"
                  ></app-advantage>
                </li>
            </ul>
            <app-button>Выбрать пиццу</app-button>
        </div>
        <div class="hero__image">
            <img src="assets/images/pizza_big.png" alt="" width="520" height="342">
        </div>
    </div>
</div>
