@import "variables";

.header {
  box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  height: 10rem;

  & > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__menu {
  display: block;
  overflow: hidden;
  width: 66%;
}

.header__menu-btn {
  display: none;
}

@media (max-width: map-get($breakpoints, sm)) {
  .header {
    height: unset;
    min-height: 10rem;
    padding-top: 2rem;
  }

  .header > .container {
    flex-wrap: wrap;
  }

  .header__menu-btn {
    display: block;
  }

  .header__menu {
    display: none;
    flex-basis: 100%;
    order: 3;
  }

  .header__menu.is-visible {
    display: block;
  }
}
