:root {
  --main-bg: #ffffff;
  --main-text: #bd975c;
  --secondary-text: #382400;
  --dark-text: #000000;
  --accent: #ffaf18;
  --accent-light: #ffc468;
  --error: #ff0000;
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
